@import 'bulma/sass/utilities/initial-variables';
@import 'bulma/sass/utilities/functions';

$fullhd-enabled: true;
$primary: $grey-darker;

$fa-font-path: '~font-awesome/fonts';
@import 'font-awesome/scss/font-awesome';
/*@import '~@fortawesome/fontawesome-free/scss/regular';*/
/*@import '~font-awesome/scss/solid';*/
@import 'bulma';

.breadcrumb-section {
    padding: 0.6rem 1.5rem;
}

#content-table-name {
    padding-left: 0.4rem;
}
