<header>
  <nav class="navbar has-shadow is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/c/"><h1>Browser</h1></a>
    </div>
  </nav>
</header>
<main>
  <section class="section">
    <%= yield %>
  </section>
</main>
