<!DOCTYPE html>
<html>
  <head>
    <title>Browser</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# for bulma %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
